@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-image: url('/img/background.jpg');
  font-family: 'Inter';
}

/* underline */
.page-title {
  font-size: 28px;
  font-weight: 800;
}
.page-title>.thin-page-title {
  font-weight: 500;
}
.underline-page-title {
  width: 100px;
  border-radius: 3px;
  height: 3px;
  background-color: black;
}

/* card design */
.card-pameran-category {
  font-size: 10px;
  font-weight: 600;
  margin: 0;
}
.card-pameran-body {
  padding: 10px 10px 0;
  font-size: 12px;
  font-weight: 600;
}
.card-pameran-body .card-pameran-date {
  font-size: 10px;
}
.card-pameran-title {
  font-size: 14px;
}

/* card-artikel */
.card-artikel {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.247);
  border-radius: 15px;
}
.card-artikel img{
  border-radius: 15px 15px 0 0;
}
.card-artikel-body {
  background: white;
  border-radius: 0 0 15px 15px;
}
.card-artikel-title {
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
}

/* card-pameran */

.card-exhibition-body {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.247);
  background-color: rgb(255, 255, 255,0.5);
  border-radius: 5px;
}

.card-exhibition-button {
  background-color: #F6AE2D;
  color: white;
  text-decoration: none;
  transition: .2s;
  bottom: 0;
}

.card-exhibition-button:hover {
  background-color: #cf8d11;
  color: white;
}

/* alert */
.alert-message {
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

/* footer */
footer {
  border-top: 1px solid #F6AE2D;
}
.icon-group {
  flex-basis: 12%;
  justify-content: space-between;
}
.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #F6AE2D;
  width: 32px;
  height: 32px;
  color: white;
  border-radius: 50%;
  text-align: center;
}
.icon-link:hover {
  color: white;
}
.footer-text {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  padding: 14px;
}

/* pagination */
span.page-link {
  background: #F6AE2D !important;
  border-color: #F6AE2D !important;
}
a.page-link {
  color: #F6AE2D !important;
}

/* design system */
.bg-orange {
  background-color: #F6AE2D;
}
.text-orange {
  color: #F6AE2D;
}
.bg-navy {
  background-color: #390099;
}
.text-navy {
  color: #390099 !important;
}
.bg-tosca {
  background-color: #56D3D2;
}
.text-tosca {
  color: #56D3D2;
}
.bg-guava {
  background-color: #FF7171;
}
.text-guava {
  color: #FF7171 !important;
}
.bg-red {
  background-color: #EB5757;
}
.text-red {
  color: #EB5757;
}
.bg-peach {
  background-color: #FEEFD6;
}
.text-peach {
  color: #FEEFD6;
}
.bg-green {
  background-color: #27AE60;
}
.text-green {
  color: #27AE60;
}
.bg-grey {
  background-color: #B6B6B6;
}
.text-grey {
  color: #B6B6B6 !important;
}
.btn-orange {
  background-color: #F6AE2D;
  color: white;
  text-decoration: none;
  transition: .2s;
}
.btn-orange:hover {
  background-color: #cf8d11;
  color: white;
}

.btn-green {
  background-color: #27883c;
  color: white;
  text-decoration: none;
  transition: .2s;
}
.btn-green:hover {
  background-color: #257937;
  color: white;
}

/* modal */
.modal-body {
  padding: 80px 0;
}
.close-button {
  color: #B6B6B6;
  background-color: white;
  position: absolute;
  top: 0;
  right: 5px;
  border: 5px;
}


@media screen and (min-width: 900px) {
  .navbar {
    height: 86px;
    border-bottom: 1px solid #F6AE2D;
  }
  .navbar-brand img {
    width: 163px;
  }
  .nav-link {
    font-size: 14px;
    font-weight: 500;
    color: #828282;
  }
}

  